@import "tailwindcss";

.bg-animated-dots {
  position: relative;
  background-color: #0f172a;
  overflow: hidden;
}

.bg-animated-dots::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: radial-gradient(#334155 1px, transparent 1px);
  background-size: 20px 20px;
  animation: moveDots 20s linear infinite;
  opacity: 0.5;
  z-index: 0;
}

/* animation */
@keyframes moveDots {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-40px, -40px);
  }
}
